@import "../variables.scss";
@import "navigation.scss";
@import "button.scss";

@mixin header {
  .header {
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    padding: 10px 20px;

    background-color: $primary-color;

    border-bottom: 10px solid $black-color;

    @include navigation;
    @include button;
  }
}
